# Ignore compiled binaries
*.bin
*.exe
*.in
*.out

# Ignore intermediate files
*.prob
*.json
.*

# Ignore specific file types
*.h
*.sh
*.java
*.txt
*.py
main

# Ignore platform-specific files
info.plist